* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(background.jpg);
    background-repeat: repeat;
}

.container {
    width: auto;
    height: 1000px;

}

.navbar {
    width: 1200px;
    height: 60px;
    margin-left: 40px;
    margin-top: 5px;
    background-color: #fff;

}

.icon {
    width: 300px;
    float: left;
    height: 70px;
    text-align: center;
}

.logo {
    width: 120px;
    height: 40px;
    cursor: pointer;
}

.menu {
    width: 850px;
    float: left;
    height: 60px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li {
    list-style: none;
    margin: 85px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 14px;
    transition: all 1s;

}

ul li:hover {
    transform: scale(1.3);
}

ul li a {
    text-decoration: none;
    color: rgb(8, 8, 8);
    font-family: Arial;
    font-weight: bold;
}

ul li a:hover {
    color: #ff7200;
}

#carouselExampleIndicators {
    width: 1200px;
    height: 550px;
    margin-left: 40px;
}

.carousel-caption {
    background-color: #696969;
    height: 120px;
    width: 900px;
}

.caption1 {
    float: left;
    width: 440px;
    height: 80px;
    text-align: start;
    padding-left: 40px;

}

.caption2 {
    float: left;
    height: 80px;
    width: 440px;
    text-align: start;
    padding-left: 40px;

}

.carousel-content {
    position: absolute;
    top: 27%;
    right: 22%;
    z-index: 20;
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial;
}

.explore {
    width: 150px;
    height: 30px;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    border: 1px solid #ff7200;
    font-family: Arial;
    background-color: #ff7200;
    padding-bottom: 5px;
    transition: all 1s;
}

.explore:hover {
    transform: scale(1.2);
}

.fa-google {
    cursor: pointer;
    transition: all 1s;

}

.fa-twitter {
    cursor: pointer;
    margin-left: 25px;
    transition: all 1s;

}

.fa-facebook {
    cursor: pointer;
    margin-left: 20px;
    transition: all 1s;
}

.fa-google:hover {
    transform: scale(1.2);
}

.fa-twitter:hover {
    transform: scale(1.2);
}

.fa-facebook:hover {
    transform: scale(1.2);
}

.footer {
    width: 1200px;
    height: 250px;
    background-color: #faf7f7;
    background-image: url(Footer.jpg);
}

.about {
    width: 400px;
    height: 190px;
    float: left;
    text-align: start;
    padding-left: 35px;
    padding-top: 20px;

}

.p1 {
    font-size: 13px;
}

.fa-square-facebook {
    padding-left: 25px;
}

.fa-instagram {
    padding-left: 25px;
}

.fa-linkedin {
    padding-left: 25px;
}

.contact {
    width: 400px;
    height: 190px;
    float: left;
    text-align: center;
    padding-left: 35px;
    padding-top: 20px;
}

.services {
    width: 400px;
    height: 190px;
    float: left;
    text-align: start;
    padding-left: 50px;
    padding-top: 20px;
}

.below {

    text-align: center;
}

span {
    color: #17059b;
    font-size: 20px;
    font-weight: 70px;
    font-family: Arial, Helvetica, sans-serif;
}